.articleItem .productDetails .productPrice{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.articleItem
{
  background-color: rgb(193, 95, 95);
  text-align: center;
  border: .1px solid #ccc;
  width: 300px;
 cursor: pointer;
}
.articleItem:hover
{
  background-color: brown;
  color: black;
}
